<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Animal</title>
</head>
<body>
	
	<div th:text="${animal.type}"></div>
	<table>
		<tr>
			<th>Name</th>
			<th>age</th>
			<th>gender</th>
			<th>Breeds</th>
			<th>Size</th>
			<th>coat</th>
			<th>Description</th>
			<th>tags</th>
			<th>pictures</th>
		</tr>
		<tr th:each="animal: ${animals}">
			<td th:text="${animal.name}"></td>
			<td th:text="${animal.age}"></td>
			<td th:text="${animal.gender}"></td>
			<td th:text="${animal.breeds}"></td>
			<td th:text="${animal.size}"></td>
			<td th:text="${animal.coat}"></td>
			<td th:text="${animal.description}"></td>
			<td th:text="${animal.tags}"></td>
			<td th:text="${animal.picture}"></td>	
		</tr>
	</table>



</body>
</html>
