@charset "ISO-8859-1";
*{
	margin: 0;
	padding:0;
}
h1 {
    margin: auto;
}

#list {
    display: flex;
	width: 80%;
	flex-wrap: wrap;
	justify-content: center;

}
a, button {
	text-decoration: none;
	color: black;
	font-size: 30px;
	display: block;
}
.element {
    flex-direction: row;
    list-style: none;
	padding: 5%;
	margin: 2%;
	border: solid grey;
	width: 20%;
}

