<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	<meta charset="ISO-8859-1">
	<title>Tierverleih 2.0 better than the older one</title>

</head>
<body>
	<h1>Tierverleih extended, better than the older one</h1>

	<div>
		<ul id="list">
			<li class="element"><p><a href="animal/Dog">Dog</a></p></li>
			<li class="element"><p><a href="animal/Cat">Cat </a></p></li>
			<li class="element"><p><a href="animal/Rabbit">Rabbit </a></p></li>
			<li class="element"><p><a href="animal/Hamster">Hamster </a></p></li>
			<li class="element"><p><a href="animal/Horse">Horse </a></p></li>
			<li class="element"><p><a href="animal/Bird">Bird </a></p></li>
			<li class="element"><p><a href="animal/Fish">Fish </a></p></li>
			<li class="element"><p><a href="animal/Pig">Pig</a></p></li>
			<li class="element"><p><a href="animal/Cow">Cow </a></p></li>
		</ul>
	</div>


</body>
</html>